.text{
	margin:30px ;
	padding:10px;
	
}
.center{
	 text-align: center;
	 margin:20px ;
	 padding:10px;
}

.button {
    background-color: black;
    color: white ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: gray;
}

.textt{
	text-align	: center;
}

.combinator{
	background: #E0FFFF;
}

.xxx{
	 margin: 100px;
}

.container1{
	width           : 300px; 
	height          : 400px;
	padding			: 5px;
    border			: solid 1px black; 
    float			: left;
	margin			: 12px;
}
.line{
	height          : 60px;
	width           : 100%; 
	background      : black;
	text-align      : center;
}
