#frstprgph{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 35px;
}

#butt{
	background-color: black;
	color: white;
	font-size: 35px;
	width: 50px;
}	

#bb{
	width: 1000px;
	font-size: 35px;
}

#CourseNow{
	font-size: 35px;
}

#cen{
	width: 50px;
}